
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --purplecolor: #5E3BEE;
}
@font-face {
    font-family: robotto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


   /* Navbar start */


.list{
    font-family: robotto !important;
    color: #1C1E53 !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
}

.link{
    color: var(--purplecolor) !important;
    font-weight: 400 !important;
    font-size: 21.33px !important;
     font-family: robotto !important;
}


.btn-purple{
    color: var(--purplecolor); 
     font-family: robotto !important;
     border: 1px solid var(--purplecolor);
    font-weight: 400 !important;
    font-size: 21.33px !important;
    font-weight: 400 !important;
    
}

   /* Navbar end */


   /* Hero Section Start */

.hero{
     background-color: #F5FCFF;
    
}

.hero{
     font-family: robotto !important;
    
}
.design{
     color: var(--purplecolor);
}
   /* Hero Section End */

   
/* my experties start */

.chain{
    width: 80%;
         
}



.card-div{
    width:100% ;
 background-color: #F5FCFF;

    
}

.direction{
     font-family: robotto!important;
    font-weight: 500 !important;
    font-size: 20px !important;
    
}


/* About me section start  */


.para{
    color:#1C1E53 ;
}
  

.imgdiv{
    width: 100%;
}
.chase{
    width: 100%;
}

.about{
   width:  100%;
}


.card-body button{
    padding: 15px;
    outline: none !important;
    border: none !important;
    border-bottom: 3px solid var(--purplecolor) !important;
    
    background: transparent;
}


/* About me section end */


/* tetimonials start */

.avatar{
    border-radius: 50%;
    width: 23%;
}
.avatar img{
    width: 100%;
}

.macdi{
    padding-left: 22px;
    padding-top: 3px;
}

